@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';


.p-datatable-wrapper {
    min-height: 767px;
}

.datatable-responsive .p-datatable-responsive .p-datatable-tbody>tr>td .p-column-title {
    display: none;
}

.p-datatable-header,
.p-panel-header {
    display: block !important;
    text-align: center !important;
    background-color: #ebbd34 !important;
}

@media screen and (max-width: 60em) {

    .datatable-responsive .p-datatable.p-datatable-responsive .p-datatable-thead>tr>th,
    .datatable-responsive .p-datatable.p-datatable-responsive .p-datatable-tfoot>tr>td {
        display: none !important;
    }

    .datatable-responsive .p-datatable.p-datatable-responsive .p-datatable-tbody>tr>td {
        text-align: left;
        display: block;
        width: 100%;
        float: left;
        clear: left;
        border: 0 none;
    }

    .datatable-responsive .p-datatable.p-datatable-responsive .p-datatable-tbody>tr>td .p-column-title {
        padding: .4rem;
        min-width: 30%;
        display: inline-block;
        margin: -.4em 1em -.4em -.4rem;
        font-weight: bold;
    }

    .datatable-responsive .p-datatable.p-datatable-responsive .p-datatable-tbody>tr>td:last-child {
        border-bottom: 1px solid var(--surface-d);
    }
}

.p-menubar {
    background-color: black !important;
}

.p-menuitem-text,
.p-menuitem-icon {
    color: white !important;
}

.p-menuitem-link:hover .p-menuitem-text,
.p-menuitem-link:hover .p-menuitem-icon {
    color: black !important;
}

.p-menuitem-link:hover {
    background-color: white !important;
}

  .p-picklist-buttons button, .p-picklist-transfer-buttons button{
  background:black;
  border: black;
}